.wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-12);
  border-top: var(--border-line-primary);
}

.wrapperRight {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--spacing-12);
  border-top: var(--border-line-primary);
}

.wrapperLeft {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--spacing-12);
  border-top: var(--border-line-primary);
}
