.section {
  width: 35%;
  border-radius: var(--border-radius-16);
  background: #fff;
  box-shadow: var(--border-shadow-second);
  box-sizing: border-box;
  padding: var(--spacing-8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 90%;
  object-fit: cover;
  object-position: top;
}