.wrapper {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-12) 0;
  box-sizing: border-box;
}

.copyright {
  font-weight: 400;
  font-size: var(--size-small-text);
  line-height: var(--lineHeight-primary-text);
  color: var(--color-support-text);
}