.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
}

.selected-option {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #c1c1c1;
  border-radius: 50px;
}

.selected-value {
  margin-right: 10px;
}

.remove-option {
  transform: rotate(45deg);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.options {
  padding: 0;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #c1c1c1;
  background-color: #f8f8f8;
  
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}

.button:hover {
  background: lightgray;
}


