/*  */
:root {
  --color-bg-main: #f8f8f8;
  --color-bg-second: #fff;
  --color-bg-support: #cdd1de;
  --color-accent-main: #396ec4;
  --color-accent-second: #2f80ed;
  --color-success: #279f51;
  --color-warning: #ffa000;
  --color-error: #ff392b;
  --color-text-main: #1c2a53;
  --color-text-second: #555f7e;
  --color-text-support: #8e95a9;

  /* typography vars */
  --baseTextSize: 0.875rem;
  --textSizeIncrement: 1.24;
  --text-xs: calc(var(--baseTextSize) / var(--textSizeIncrement));
  --text-s: var(--baseTextSize);
  --text-m: calc(var(--text-s) * var(--textSizeIncrement));
  --text-l: calc(var(--text-m) * var(--textSizeIncrement));
  --text-xl: calc(var(--text-l) * var(--textSizeIncrement));
  --lineHeightFixedAmount: 0.35rem;
  --lineHeightRelativeAmount: 1.1em;
  --globalLineHeight: calc(var(--lineHeightFixedAmount) + var(--lineHeightRelativeAmount));
  --fontFamily: "Inter", sans-serif;

  --animation-transition: all .3s ease;

  
}

@-moz-document url-prefix() {
	:root {
		scrollbar-color: var(--color-bg-main) var(--color-bg-support);
	}
}

body {
	padding: 0;
	margin: 0;
  color: var(--color-text-main);
  font-family: var(--fontFamily);
  line-height: var(--globalLineHeight);
	background: var(--color-bg-main);
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: var(--color-bg-main);
}

body::-webkit-scrollbar-thumb {
	background: var(--color-bg-support);
	border: 1px solid var(--color-bg-main);
	border-radius: 6px;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style of custom scroll for components */
.custom-scroll::-webkit-scrollbar {
	width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: var(--color-bg-support);
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: var(--color-bg-support);
	border: 1px solid var(--color-bg-main);
	border-radius: 6px;
}

.flex_space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.header, .footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}

.logo {
  width: 96px;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  object-position: top;
  margin: 5px 0;
}

/* dropdown */
.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
}

.dropdown div {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #c1c1c1;
  border-radius: 50px;
}

.dropdown span {
  margin-right: 10px;
}

.dropdown button {
  transform: rotate(45deg);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown ul {
  padding: 0;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border-radius: 20px;
  border: 1px solid #c1c1c1;
  background-color: #f8f8f8;
  overflow: hidden;
}

.dropdown li {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}

.dropdown li:hover {
  background: lightgray;
}