.text {
	margin: 0;
	padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.text_type_main-default {
	font-family: "Inter", sans-serif;
  font-weight: 400;
	font-size: var(--text-s);
}

.text_type_main-large {
	font-family: "Inter", sans-serif;
  font-weight: 600;
	font-size: clamp(var(--text-l), 0.3043rem + 3.4783vw, var(--text-xl));
}

.text_type_main-medium {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: clamp(var(--text-m), 0.3043rem + 3.4783vw, var(--text-l));
}

.text_type_main-small {
	font-family: "Inter", sans-serif;
  font-weight: 400;
	font-size: var(--text-xs);
}

.text_type_link-menu {
  font-family: "Inter", sans-serif;
  font-weight: 600;
	font-size: var(--text-s);
  color: var(--color-text-support);
  text-decoration: solid;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.text_type_link-menu div {
  position: absolute;
  top: -2px;
  left: 17px;
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--color-warning);
  border: 2px solid var(--color-bg-main);
}

@media screen and (max-width: 700px) {
  .text_type_link-menu span {
    display: none;
  }
}

.text_type_animation {
  transition: var(--animation-transition);
}

.text_color_primary, .text_type_link-menu:hover {
	color: var(--color-text-second)
}

.text_color_inactive {
	color: var(--color-text-support)
}

.text_color_accent {
	color: var(--color-accent-main)
}

.text_color_error {
	color: var(--color-error)
}

.text_color_success {
	color: var(--color-success)
}

.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}